<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <title>Treasure Porth's Personal Website</title>
</head>
<body>
  <div class="container" id="app">
    <h1 class="title is-1">This is a header</h1>
    
    <h2 class="title is-2">Recent Projects</h2>
    <div class="columns is-multiline" v-if="repos">
      <div class="column card is-one-third" v-for="repo in repos">
        <h3 class="title is-4">{{repo.name}}</h2>
        <p class="subtitle" v-if="repo.description">{{repo.description}}</p>
        <p>{{repo.readme}}</p>
        <div>
          <a class="button" :href="repo.html_url">Repo</a>
          <a class="button" v-if="repo.homepage" :href="repo.homepage">Demo</a>
        </div>
      </div>
    </div> 
    <div v-else>Oops, I've run out of requests for the day! 
      View my recent projects <a href="https://github.com/trezp?tab=repositories">on Github.</a>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="app.js"></script>
</body>
</html>