<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./scss/main.scss">
  <script src="https://kit.fontawesome.com/4d8b917976.js"></script>
  <title>Treasure Porth's Personal Website</title>
</head>
<body>
  <div id="app">
    <div class="columns">
      <div class="column content-left is-one-third">
        <div class="social">
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-github-square"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
      <div class="column main-content is-one-third">
        <h1 class="title">I'm Treasure</h1>
        <div class="logo">
          <div class="logo-image-box"></div>
        </div>
        <div class="intro">
          <p>I'm a full stack JavaScript developer. My most recent gig was to <span>research, script and perform killer JavaScript content</span> at <a href="https://teamtreehouse.com/treasureporth">Treehouse</a>. 
            I worked closely with designers and animators to create <span>some of the most popular and highly rated courses</span> in the Treehouse library. 
          </p>
          <p>My background is with instructional design and live classroom teaching, which means I'm a highly empathetic developer who 
            always keeps the user in mind and I learn things VERY quickly. 
          </p>
          <p>I like to travel, karaoke (Tina Turner is my go-to) and volunteer at 
            <a href="https://www.maybellecenter.org">The Maybelle Center.</a>
          </p>
        </div>
      </div>
      <div class="column social is-one-third">
        
      </div>
    </div>
  </div>
      <!-- <div >
          <h2 class="title is-2">Recent Projects</h2>
          <div class="columns is-multiline" v-if="repos">
            <div class="column card is-one-third" v-for="repo in repos">
              <h3 class="title is-4">{{repo.name}}</h2>
              <p class="subtitle" v-if="repo.description">{{repo.description}}</p>
              <p>{{repo.readme}}</p>
              <div>
                <a class="button" :href="repo.html_url">Repo</a>
                <a class="button" v-if="repo.homepage" :href="repo.homepage">Demo</a>
              </div>
            </div>
          </div> 
          <div v-else>Oops, I've run out of requests for the day! 
            View my recent projects <a href="https://github.com/trezp?tab=repositories">on Github.</a>
          </div> -->
      <!-- </div> -->

    <footer></footer>
    
    
   
  </div>
  <script src="./index.js"></script>
</body>
</html>