$accent-color: #8f0853;
$spacing-unit: 10px;
$link: $accent-color;

.columns {
  @media (min-width: $desktop) {
    padding-bottom: $spacing-unit * 15;
  }
}
.column.is-padded {
  padding: $spacing-unit * 6;
}

iframe {
  height: 460px;
  width: 100%;
  max-width: 100%;
}
h1.title {
  font-weight: 100;

  @media (min-width: $tablet) {
    font-size: 3rem;
  }
}

h2.title {
  font-size: 3rem;
}
h5.title {
  font-size: 2rem;
}
