$accent-color: #f76c6c;
$spacing-unit: 10px;
$link: $accent-color;
$color-primary: #25274d;
$background-color: #eae7dc;

$title-color-primary: #25274d;
$title-color-secondary: #25274d;

.columns {
  @media (min-width: $desktop) {
    padding-bottom: $spacing-unit * 15;
  }
}
.column.is-padded {
  padding: $spacing-unit * 6;
}

iframe {
  height: 460px;
  width: 100%;
  max-width: 100%;
}
h1.title {
  font-weight: 100;
  color: $title-color-primary;

  @media (min-width: $tablet) {
    font-size: 3rem;
  }
}

h2.title {
  font-size: 3rem;
  font-weight: 300;
  color: $title-color-secondary;
}
h5.title {
  font-size: 2rem;
}

p {
  padding-bottom: 1rem;
}
