.section-intro {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 1200px;
  margin: auto;

  > div {
    display: flex;
    align-self: center;
    align-items: center;
  }

  .column-hero {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;

    h1 {
      text-align: center;
    }

    ul {
      display: flex;
      width: 100;
      justify-content: center;

      li {
        padding: $spacing-unit * 1;
      }
    }

    p {
      margin: auto;
      margin-top: $spacing-unit * 2;
    }
  }

  img {
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
    border: 4px solid $accent-color;
  }

  svg {
    max-height: 250px;
  }
}

.origin-story {
  width: 90%;
  margin: auto;

  @media (min-width: $tablet) {
    width: 50%;
  }

  .star,
  .title {
    text-align: center;
    color: $title-color-secondary;
  }

  .star {
    color: $accent-color;
  }
  .title {
    padding-top: $spacing-unit * 2;
  }
}
