.about {
  display: flex;

  .about-content {
    background: $color-primary;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;

    @media (min-width: $tablet) {
      flex-wrap: nowrap;
    }
  }
  img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 2px solid $accent-color;
    padding: $spacing-unit * 2;
    padding-right: $spacing-unit * 3;
  }

  .about-text {
    align-self: center;
    padding: $spacing-unit * 3;
    padding-left: 0;
  }
}

.origin-story {
  width: 90%;
  margin: auto;

  @media (min-width: $tablet) {
    width: 50%;
  }

  .star,
  .title {
    text-align: center;
  }
  .title {
    padding-top: $spacing-unit * 2;
  }
}
