.header {
  background: $color-primary;
  color: #fff;
  box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.3);
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;

  li {
    a {
      padding: $spacing-unit;
      margin-right: $spacing-unit;
      display: block;

      &:hover {
        background-color: $accent-color;
      }
    }
  }
  .fab,
  .far {
    color: #fff;
  }
}
