header {
  background: $color-primary;
  color: #fff;
}

.social-icons {
  height: $spacing-unit * 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;

  li {
    padding-right: $spacing-unit * 2;

    a {
      padding: $spacing-unit * 2;

      &:hover {
        color: blue;
      }
    }
  }
  .fab,
  .far {
    color: #fff;
    //padding: $spacing-unit;
  }
}
