@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all";
@import "./node_modules/bulma/sass/grid/columns";
@import "./node_modules/bulma/sass/elements/_all";
@import "./header";

$accent-color: #8f0853;
$spacing-unit: 30px;

body {
  background-image: url("/images/cityscape.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

p {
  padding-bottom: $spacing-unit / 3;
}

.title {
  font-weight: bold;
}

.container {
  max-width: 90%;
  margin: auto;
}

header {
  .is-full {
    text-align: center;
    padding: $spacing-unit;

    .title {
      font-size: 4em;
    }
  }
  .is-one-quarter,
  .is-three-quarters {
    padding: $spacing-unit;
    align-self: center;
  }
  .is-three-quarters span {
    font-weight: bold;
    color: $accent-color;
  }
}
